.pricing{
    margin-top: 80px;
}
.section-header h2{
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Times New Roman', Times, serif;
}
.section-header h2::after{
    content: '';
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #5bd9a9;
    margin: 4px 10px;
}
.section-header p{
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    font-family: sans-serif;
    color: white;
}
.pricing-single-item{
    border-bottom: 1px dashed rgb(71, 74, 77);
    width: 100%;
    height: 100%;
    padding: 0px 0px 15px;
}
.pricing-single-item h3{
    margin: 0px;
    font-size: 20px !important;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Times New Roman', Times, serif;
}
.pricing-single-item h4{
    margin: 0px;
    font-size: 18px;
}

@media screen and (max-width: 575px) {

    .section-header p{
        font-size: 28px;
    }
}