.testimonial{
    margin-top: 80px;
}
.section-header{
    padding-bottom: 40px;
}
.section-header h2{
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Times New Roman', Times, serif;
}
.section-header h2::after{
    content: '';
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #5bd9a9;
    margin: 4px 10px;
}
.section-header p{
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    font-family: sans-serif;
    color: white;
}
.testimonial-item{
    opacity: .3;
}
.box{
    box-sizing: content-box;
    padding: 30px;
    margin: 40px 30px;
    background: #161718;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: .3s;
}
.stars{
    color: #ffc107;
    margin: 0 3px 18px 3px;
}
.testimonial-item .box p{
    font-style: italic;
    margin: 0 auto 18px auto;
}
.profile{
    width: 90px;
    margin: 0 auto;
}
.profile img{
    border-radius: 50%;
    border: 5px solid #474a4d;
}
.testimonial-item .box h3{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: white;
}
.testimonial-item .box h4{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
}
.owl-carousel .owl-nav{
    position: relative !important;
}
.owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    left: -50px;
    bottom: 250px;
    font-size: 70px !important;
    color: #ffc107 !important;
    background: none !important;
    transition: .3s;
}
.owl-carousel .owl-nav button.owl-next{
    position: absolute;
    right: -50px;
    bottom: 250px;
    font-size: 70px !important;
    color: #ffc107 !important;
    background: none !important;
    transition: .3s;
}
.owl-nav button.owl-next:hover, .owl-nav button.owl-prev:hover{
    transition: .3s;
    color: white !important;
}
.owl-carousel .owl-item.active.center .testimonial-item{
    opacity: 1;
    transform: scale3d(1.0, 1.0, 1);
}
.owl-dots{
    text-align: center;
}
.owl-dots button.owl-dot{
    background-color: white !important;
    font-size: 10px !important;
    color: black !important;
    border-radius: 50% !important;
    height: 15px;
    width: 15px;
    margin-right: 8px;
    transition: .3s;
}
.owl-dots button.owl-dot.active{
    background-color: #474a4d !important;
    transform: scale(1.2);
    transition: .3s;
}


@media screen and  (max-width: 1399px) {
    .box{
        margin: 40px 0;
    }
}